<nav>
  <ul class="nav {{include.navClass}}">
    <li><a class="{% if page.url =='/index.html' %}current{% endif %}" href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a class="{% if page.url =='/drawing.html' %}current{% endif %}" href="{{site.baseurl}}/drawing.html">Drawing</a></li>
    <li><a class="{% if page.url contains 'design' or page.url contains 'currently-on' %}current{% endif %}" href="{{site.baseurl}}/design.html">Design</a></li>
    <li><a class="{% if page.url contains 'tools' %}current{% endif %}" href="{{site.baseurl}}/tools.html">Tools</a></li>
  </ul>
</nav>
